.ButtonStyle{
    background: #FF3E9A;
    border-radius: 48px;
    color: #fff;
    border: none;
    padding: 8px 20px 8px 20px;
    cursor: pointer;
}

.CancelButtonStyle{
    background: #fff;
    border-radius: 48px;
    color: #000;
    padding: 8px 20px 8px 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 12px;
    cursor: pointer;
}
