.name{
    background: linear-gradient(90deg, #FF3E9A 0.59%, #D83EFF 100.59%);
    font-size: 20px;
    font-weight: 600;
    -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

backdrop-filter: blur(14px);
margin-right: 16px;
}

.email{
    font-size: 14px;
    opacity: 0.4;
    margin-top: -20px;
}

.column1{
    display: flex;
    align-items: center;
}

.column1Text{
    display: flex;
    align-items: center;
    margin-top: -5px;
}

.emailDiv{
    margin-left: 20px;
}

.column2{
    opacity: 0.4;
    font-size: 14px;
    font-weight: 500;
}

.profileBtn{
    background: #FFFFFF;
/* Line/Default */

border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 40px;
font-weight: 500;
font-size: 12px;
padding: 10px 20px 10px 20px;
margin-right: 19px;
}

.SizeColumn{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.PaginationDiv{
    margin-top: 56px;
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
}

.Paginationfooter{
    display: flex;
    align-items: center;
}